{% extends '::base.html.twig' %}

{% block body %}


    <div id="wrapper" xmlns="http://www.w3.org/1999/html">
    <!-- start header -->

    <!-- end header -->
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                        <li class="active"> Activités / Diffusion Radio</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="content">

        <div class="container">
            <div class="row">
                <div class="col-md-9 col-md-offset-1" align="justify">
                    <h1> <b> <p style="font-size:22px"> Diffusion des programmes Radio</p></b></h1>

                    <hr class="colorgraph">
                    <br />
                    <a href="#radion"><b> &emsp;-  Radio Nationale </b></a>
                    <br />
                    <a href="#rtci"><b> &emsp;- RTCI</b></a>
                    <br />
                    <a href="#radioj"><b> &emsp;- Radio jeunes </b></a>
                    <br />
                    <a href="#radioc"><b> &emsp;- Radio Culturelle </b></a>
                    <br />
                    <a href="#radior"><b> &emsp;- Radios régionales</b></a>
                    <br />
                    <a href="#radiop"><b> &emsp;- Radios privées</b></a>
                    <br />
                    <br />
                    <p id="radion" style="font-size: 18px;color: #357ebd;"><b>  Radio Nationale</b></p>
                    <br />

                    <p><b>Radio nationale en ondes moyennes </b></p>
                    <p> <b>L</b>e réseau de diffusion de la chaîne radio nationale en ondes moyennes comprend troix stations :</p>
                    <p><b>- </b>La station de Jedeida assure la diffusion des programmes au moyen de deux émetteurs de puissance 300 KW chacun et fonctionnant sur
                        la fréquence 630 KHZ. Cette station assure une large couverture nationale et diffuse sans interruption 24h/24h.</p>
                    <p><b>- </b>La station de Gafsa assure la diffusion des programmes avec une puissance de 200 KW fonctionnant sur la fréquence 585 KHZ.</p>
                    <p><b>- </b>La station de Harboub (Mednine) assure la diffusion des programmes avec une puissance de 50 KW fonctionnant sur la fréquence 684 KHZ.</p>

                    <a href="{{ asset('')}}" target="_blank"><b>[ Consulter couverture ]</b></a>
                    <br /><br />
                    <p><b>Radio nationale en ondes courtes </b></p>
                    <p><b>L</b>a radio nationale est aussi diffusée en ondes courtes, à partir de la station de Sidi Mansour (Sfax), vers les régions de l’Europe,
                        du Moyen Orient et du Maghreb au moyen de quatre émetteurs de puissance 500 Kw chacun. Les fréquences sont les suivantes : </p>

                    <br />
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th>L'Europe de l'Ouest</th>
                            <td> • Sur 7225 KHZ, de 18 :00 à 22 :10 UTC <br /> • Sur 7275 KHZ, de 05 :00 à 07 :30 UTC</td>
                        </tr>

                        <tr>
                            <th>Le Moyen-Orient</th>
                            <td>• Sur 9725 & 12005 KHZ, de 04 :00 à 06 :10 UTC <br />
                                • Sur 9725 & 12005 KHZ, de 17 :00 à 21 :10 UTC</td>
                        </tr>
                        <tr>
                            <th>Le Maghreb</th>
                            <td>•Sur 7335 KHZ, de 07 :00 à 09 :10 UTC <br />
                                • Sur 7345 KHZ, de 20 :00 à 24 :10 UTC</td>
                        </tr>
                        </tbody>
                    </table>
                    <br />

                    <p><b>Radio nationale en modulation de fréquence  </b></p>
                    <p>&emsp;<b>L</b>es programmes de la chaîne radio nationale sont diffusés en modulation de fréquences avec un volume horaire de 24h/24h.<br />
                        &emsp; Ces programmes sont diffusés à partir de cinq stations qui couvrent les régions du Grand Tunis,
                        du Cap Bon et de Bizerte, et une station pour la couverture de Borj el khadhra.</p>
                    <a href="{{ asset('')}}" target="_blank"><b>[ Consulter couverture ]</b></a>
                    <br /> <br />
                    <p><b>Radio nationale sur satellite </b></p>
                    <p><b>L</b>es programmes de la chaîne radio nationale sont diffusés en numérique sur les cinq satellites qui diffusent la chaîne de télévision nationale1.
                    </p>
                    <br />
                    <p id="rtci" style="font-size: 18px;color: #357ebd;"><b> Radio Tunis Chaine Internationale "RTCI"</b></p>
                    <p><b>Radio Tunis Chaîne Internationale en modulation de fréquence </b></p>

                    <p><b>L</b>es programmes de la chaîne radio internationale "RTCI" sont diffusés en modulation de
                        fréquences avec un volume horaire de 18 heures/jour en langues Française, anglaise, italienne, allemande et espagnole.</p>
                    <p><b>C</b>es programmes sont diffusés à partir de 11 stations .</p>
                    <a href="{{ asset('')}}" target="_blank"><b>[ Consulter couverture ]</b></a>
                    <br /><br />

                    <p><b>chaîne radio internationale "RTCI" en ondes moyennes</b></p>
                    <p>La station de Jedeida assure la diffusion des programmes avec une puissance de 100 KW fonctionnant sur la fréquence 963 KHZ. Cette station couvre le Nord Ouest du pays et diffuse 12h/jour.</p>
                    <a href="{{ asset('')}}" target="_blank"><b>[ Consulter couverture ]</b></a>
                    <br /><br />

                    <p><b>Radio Tunis Chaîne Internationale sur satellite </b></p>
                    <p>Les programmes de la chaîne radio internationale "RTCI" sont diffusés en numérique sur les cinq satellites qui diffusent la chaîne de télévision nationale 1.</p>
                    <a href="{{ asset('')}}" target="_blank"><b>[ Consulter couverture ]</b></a>
                    <br /><br />

                    <p><b>Radio "Zitouna FM"  </b></p>
                    <p>Les programmes de radio Zitouna FM sont diffusés à partir de 25 stations.
                        Cette radio couvre l'ensemble du pays, avec un volume horaire de 24/24 .</p>
                    <a href="{{ asset('')}}" target="_blank"><b>[ Consulter couverture ]</b></a>
                    <br /><br />

                    <p id="radioj" style="font-size: 18px;color: #357ebd;"><b> Radio jeunes </b></p>
                    <p><b>L</b>es programmes de la chaîne "Radio Jeunes" sont diffusés en modulation de fréquence et couvrent l'ensemble du pays.
                        La radio jeune est diffusée en langue arabe, 18 heures par jour.</p>
                        <p>Ces programmes sont diffusés à partir de vingt et une stations.</p>
                    <a href="{{ asset('')}}" target="_blank"><b>[ Consulter couverture ]</b></a>
                    <br /><br />

                    <p id="radioc" style="font-size: 18px;color: #357ebd;"><b> Radio culturelle </b></p>
                    <p><b>Radio Culturelle en Modulation de Fréquence </b></p>
                    <p><b>L</b>es programmes de la chaîne radio culturelle "RC" sont diffusés en modulation de fréquence avec un volume horaire de 12heures/jour.
                        La diffusion se fait par un réseau composé de 17 stations FM. </p>
                    <a href="{{ asset('')}}" target="_blank"><b>[ Consulter couverture ]</b></a>
                    <br /><br />
                    <p><b>Radio Culturelle sur satellite </b></p>
                    <p><b>L</b>es programmes de la chaîne culturelle "RC" sont diffusés en numérique sur les cinq satellites qui diffusent la chaîne de télévision nationale 1.
                    </p>
                    <br />


                    <p id="radior" style="font-size: 18px;color: #357ebd;"><b>  Les programmes des radios régionales </b></p>
                    <br />

                    <p><b>La radio régionale de Sfax</b> est diffusée en modulation de fréquence et couvre la région du sahel, du centre et du Sud-Est.
                            La radio régionale de Sfax est diffusée en langue arabe, pendant 19h/jour à partir de 6 stations.</p>
                    <a href="{{ asset('')}}" target="_blank"><b>[ Consulter couverture ]</b></a>
                    <br /><br />

                    <p><b>La radio régionale de Monastir</b> est diffusée en modulation de fréquence et couvre la région du sahel, du centre et du Cap Bon.
                            La radio régionale de Monastir est diffusée en langue arabe, pendant 19 heures/jour à partir de 7 stations.</p>
                    <a href="{{ asset('')}}" target="_blank"><b>[ Consulter couverture ]</b></a>
                    <br /><br />

                    <p><b>La radio régionale du Kef </b>est diffusée en modulation de fréquence et couvre la région du Nord Ouest.
                            La radio régionale du Kef est diffusée en langue arabe, pendant 18heures/jour à partir de 11 stations.
                            </p>
                    <a href="{{ asset('')}}" target="_blank"><b>[ Consulter couverture ]</b></a>
                    <br /><br />

                    <p><b>La radio régionale de Gafsa </b>est diffusée en modulation de fréquence et couvre la région du Sud Ouest.
                            La radio régionale de Gafsa est diffusée en langue arabe, pendant 18heures/jour à partir de 6 stations.</p>
                    <a href="{{ asset('')}}" target="_blank"><b>[ Consulter couverture ]</b></a>
                    <br /><br />

                    <p><b>La radio régionale de Tataouine</b> est diffusée en modulation de fréquence et couvre la région du Sud Est.
                            La radio régionale de Tataouine est diffusée en langue arabe, pendant 18heures/jour à partir de 7 stations.</p>
                    <a href="{{ asset('')}}" target="_blank"><b>[ Consulter couverture ]</b></a>
                    <br /><br />


                    <p id="radiop" style="font-size: 18px;color: #357ebd;"><b>  Les programmes des radios privées  </b></p>
                    <br />
                    <p><b>Radio Privée "Mosaïque FM" </b> </p>
                    <p>Les programmes de radio Jawhara sont diffusés à partir de quatre stations. Cette radio couvre le centre EST et la région du sahel ,
                        avec un volume horaire de 24h/jour. </p>
                    <a href="{{ asset('')}}" target="_blank"><b>[ Consulter couverture ]</b></a>
                    <br /><br />

                    <p><b>Radio Privée "Jawhara FM"</b> </p>
                    <p>Les programmes de radio Mosaïque sont diffusés à partir de six stations. Cette radio couvre les régions de Bizerte, du Grand Tunis,
                        le Nord Ouest et le Nord du Cap Bon, avec un volume horaire de 24h/jour.</p>
                    <a href="{{ asset('')}}" target="_blank"><b>[ Consulter couverture ]</b></a>
                    <br /><br />

                    <p><b>Radio Privée "Shems FM"  </b> </p>
                    <p>Les programmes de la radio shems FM sont diffusés à partir de huit stations. Cette radio couvre les régions de Bizerte, du Grand Tunis,
                        du Nord du Cap Bon,du sahel, de sfax, de Kairouan, de Gafsa et de Gabes avec un volume horaire de 24h/jour.</p>
                    <a href="{{ asset('')}}" target="_blank"><b>[ Consulter couverture ]</b></a>
                    <br /><br />

                    <p><b>Radio Privée "Express FM"   </b> </p>
                    <p>Les programmes de la radio shems FM sont diffusés à partir de huit stations. Cette radio couvre les régions de Bizerte, du Grand Tunis,
                        du Nord du Cap Bon,du sahel, de sfax, de Kairouan, de Gafsa et de Gabes avec un volume horaire de 24h/jour.</p>
                    <a href="{{ asset('')}}" target="_blank"><b>[ Consulter couverture ]</b></a>
                    <br /><br />

                    <p><b>Radio Privée "Oxygène FM"   </b> </p>
                    <p>Les programmes de la radio Express FM sont diffusés à partir de deux stations.
                        Cette radio couvre les régions du Grand Tunis et de sfax avec un volume horaire de 24h/jour.</p>
                    <a href="{{ asset('')}}" target="_blank"><b>[ Consulter couverture ]</b></a>
                    <br /><br />

                    <p><b>Radio Privée  "Ibtisama FM"   </b> </p>
                    <p>Les programmes de la radio Oxygène FM sont diffusés à partir d'une station.
                        Cette radio couvre le gouvernerat de Bizerte avec un volume horaire de 24h/jour.</p>
                    <a href="{{ asset('')}}" target="_blank"><b>[ Consulter couverture ]</b></a>
                    <br /><br />

                    <p><b>Radio Privée  "Oasis FM"    </b> </p>
                    <p>Les programmes de la radio Oasis FM sont diffusés à partir de deux stations.
                        Cette radio couvre le gouvernerat de Gabes avec un volume horaire de 24h/jour.</p>
                    <a href="{{ asset('')}}" target="_blank"><b>[ Consulter couverture ]</b></a>
                    <br /><br />

                    <p><b>Radio Privée  "Ulysse FM"    </b> </p>
                    <p>Les programmes de la radio Ulysse FM sont diffusés à partir de deux stations.
                        Cette radio couvre le gouvernerat de Mednine avec un volume horaire de 24h/jour. </p>
                    <a href="{{ asset('')}}" target="_blank"><b>[ Consulter couverture ]</b></a>
                    <br /><br />

                    <p><b>Radio Privée  "Sabra FM"    </b> </p>
                    <p>Les programmes de la radio Sabra FM sont diffusés à partir de deux stations.
                        Cette radio couvre le gouvernerat de Kairouan avec un volume horaire de 24h/jour.</p>
                    <a href="{{ asset('')}}" target="_blank"><b>[ Consulter couverture ]</b></a>
                    <br /><br />

                    <p><b>Radio Privée  "Chaambi FM"    </b> </p>
                    <p>Les programmes de la radio Chaambi FM sont diffusés à partir d'une station.
                        Cette radio couvre le gouvernerat de Kasserine avec un volume horaire de 24h/jour. </p>
                    <a href="{{ asset('')}}" target="_blank"><b>[ Consulter couverture ]</b></a>
                    <br /><br />

                    <p><b>Radio Privée  "KALIMA FM"     </b> </p>
                    <p>Les programmes de la radio Kalima FM sont diffusés à partir d'une station.
                        Cette radio couvre la région de Grand Tunis avec un volume horaire de 24h/jour. </p>
                    <a href="{{ asset('')}}" target="_blank"><b>[ Consulter couverture ]</b></a>
                    <br /><br />

                    <p><b>Radio Privée  "Cap FM"    </b> </p>
                    <p>Les programmes de la radio Cap FM sont diffusés à partir de deux stations.
                        Cette radio couvre la région du Cap Bon avec un volume horaire de 24h/jour.</p>
                    <a href="{{ asset('')}}" target="_blank"><b>[ Consulter couverture ]</b></a>
                    <br /><br />

                    <p><b>Radio Privée  "Sahara FM"    </b> </p>
                    <p>Les programmes de la radio "SARAHA FM" sont diffusés à partir d'une station.
                        Cette radio couvre la région du Grand Tunis avec un volume horaire de 24h/jour.</p>
                    <a href="{{ asset('')}}" target="_blank"><b>[ Consulter couverture ]</b></a>
                    <br /><br />




















                    <br />
                    <hr class="colorgraph">

                </div>
            </div>
        </div>
    </section>


{% endblock %}